<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <appSettings>
      <add key="programName"
           value="Neighborhood LPR" />
      <add key="SqlCon"
           value="Data Source=.\LPR;Initial Catalog=LPR;Persist Security Info=True;Integrated Security=true" />
      <add key="PlateStatusOptions"
           value="Delivery;Emergency Services;Neighbor;Public Services" />
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>
